*.dylib
*.log
*.swp
.DS_Store
.ReAuth.cfg
.mixin.out
__pycache__/
config/oxygen/data/client/worlds/
crash-reports/
fonts/
installers
knownkeys.txt
llibrary/
logs/
mountains.txt
options.txt
photo-frame-cache/
saves/
screenshots/
server/
servers.dat
tv-cache/
usercache.json
usernamecache.json

!defaultoptions/options.txt
