*.dylib
*.log
*.swp
.DS_Store
.ReAuth.cfg
.mixin.out
__pycache__/
config/jei/worldSettings.cfg
config/optionsshaders.txt
config/oxygen/data/client/worlds/
crash-reports/
fonts/
installers
knownkeys.txt
llibrary/
logs/
mountains.txt
options.txt
optionsof.txt
optionsshaders.txt
oxygen/
photo-frame-cache/
saves/
screenshots/
server/
servers.dat
shaderpacks/
tv-cache/
usercache.json
usernamecache.json

!config/defaultoptions/options.txt
!config/defaultoptions/optionsof.txt
!config/defaultoptions/optionsshaders.txt
!config/defaultoptions/servers.dat
