# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        37
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        103
        108
        97
        115
        115
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        64
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        -45
        115
        18
        -117
        -117
        -19
        -109
        -13
        115
        -14
        -117
        108
        -53
        51
        50
        75
        82
        25
        24
        26
        88
        24
        25
        70
        -31
        72
        -122
        0
        121
        -51
        21
        -6
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        37
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        103
        108
        97
        115
        115
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        61
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        -45
        115
        18
        -117
        -117
        -19
        -109
        -13
        115
        -14
        -117
        108
        -53
        51
        50
        75
        82
        25
        26
        -104
        20
        -2
        19
        0
        0
        52
        35
        52
        -8
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        37
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        103
        108
        97
        115
        115
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        61
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        -45
        115
        18
        -117
        -117
        -19
        -109
        -13
        115
        -14
        -117
        108
        -53
        51
        50
        75
        82
        25
        30
        48
        42
        -4
        39
        0
        0
        65
        33
        53
        87
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        37
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        103
        108
        97
        115
        115
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        59
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        67
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        -45
        115
        18
        -117
        -117
        -19
        -109
        -13
        115
        -14
        -117
        108
        -53
        51
        50
        75
        82
        25
        58
        -104
        126
        48
        -2
        -1
        -1
        -125
        -31
        -1
        8
        4
        0
        19
        -21
        12
        10
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        33
        99
        104
        105
        115
        101
        108
        37
        51
        65
        99
        111
        98
        98
        108
        101
        115
        116
        111
        110
        101
        49
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        51
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        75
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        76
        -50
        -56
        44
        78
        -51
        1
        114
        -109
        -13
        -109
        -110
        114
        82
        -117
        75
        -14
        -13
        82
        13
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        -115
        25
        24
        62
        48
        -1
        71
        3
        12
        104
        96
        84
        126
        120
        -55
        3
        0
        16
        -96
        18
        83
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


